# Environment files
.env
.env.local
.env.*.local

venv

quest_generation/__pycache__/
tests/__pycache__/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/ 
*.eggs/
*.whl
*.egg
*.mypy_cache/
*.pytest_cache/
*.coverage
*.cover
*.hypothesis/
*.tox/  
*.coverage.*
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
bower_components/

# Build output
dist/
build/
out/
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Temporary files
*.tmp
*.temp
*.bak
*.orig

# Test coverage
coverage/
.nyc_output/

# Miscellaneous
*.lock
*.cache
*.pid
*.seed
*.pid.lock